OPENAI_API_KEY="sk-..."
OPENAI_GP_MODEL="gpt-5.4-nano"
FIRECRAWL_API_KEY="fc-e68e..."

LANGSMITH_API_KEY="lsv2_..."
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_PROJECT="cortex-ai"

TELEGRAM_BOT_API_KEY="8555..."

SUPABASE_URL="https://yvitdg..."
SUPABASE_SECRET_KEY="sb_secret..."